<html>
<head>
  <title>Rails App</title>
</head>
<body>

  <h1>Rails App</h1>

  <p>
    Remove <code><%= node[:app_config][:nginx][:root_path] %></code> and
    clone the app into the directory above it.
  </p>

</body>
</html>